<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Work_With_Dork_v_2_1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- В этой секции определяется конфигурация ведения журнала для My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Раскомментируйте следующую секцию для записи в журнал событий приложения -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Раскомментируйте следующую секцию и замените APPLICATION_NAME на имя своего приложения для записи в журнал событий приложения -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_LanguageService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.microsofttranslator.com/V1/soap.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
                contract="TranslatorService.LanguageService" name="BasicHttpBinding_LanguageService" />
            
        </client>
    </system.serviceModel>
    <userSettings>
        <Work_With_Dork_v_2_1.My.MySettings>
            <setting name="Page_Names" serializeAs="String">
                <value>print
details
Articles
release
showNews
index
articles
articleDisplay</value>
            </setting>
            <setting name="Page_TypesP1" serializeAs="String">
                <value>.php?
.aspx?
.asp?
.cfm?
.html?
.cgi?</value>
            </setting>
            <setting name="Page_TypesP2" serializeAs="String">
                <value>jobid=
item_id=
id=
topic=
NewsId=
newsid=
langid=
article_id=</value>
            </setting>
            <setting name="Request" serializeAs="String">
                <value>Steam
Origin
CS:GO
Buy
Play
J0hnD03</value>
            </setting>
            <setting name="InUrlOnOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SiteOnOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioOnOff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageNamesTranslateOnOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageTypesP2TranslateOnOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequestsTranslateOnOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FromCB" serializeAs="String">
                <value />
            </setting>
            <setting name="ToCB" serializeAs="String">
                <value />
            </setting>
            <setting name="FlatTextBox1" serializeAs="String">
                <value>inurl:</value>
            </setting>
            <setting name="FlatTextBox2" serializeAs="String">
                <value>site:it</value>
            </setting>
            <setting name="sss1" serializeAs="String">
                <value />
            </setting>
        </Work_With_Dork_v_2_1.My.MySettings>
    </userSettings>
</configuration>
